body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Correciones */
body{
  margin:0px;
}
pre{
  white-space: pre-wrap;
  margin:0px;
}
code{
  word-break: break-all;
}
mark, em, u {
  transition-duration: 1s;
  border-radius: 5px;
}


mark{
  background-color:lightskyblue;
}
mark:hover{
  background-color:skyblue;
}
em{
  background-color: lawngreen;
}
em:hover{
  background-color: lightgreen;
}
u{
  text-decoration-line: unset;
  background-color: orange;
}
u:hover{
  background-color: darkorange;
}

/* Correciones */

/* ⚡⚡ Principales estilos de la pagina de administracion ⚡⚡ */
amp-selector[role=tablist].tabs-with-selector {
display: flex;align-items: center;justify-content: center;position:fixed;bottom:0px;width: 100%;
background: #0000005e;
height: 50px;
}
amp-selector[role=tablist].tabs-with-selector [role=tab] {
width: 100%;text-align: center;
}
amp-selector.tabpanels [role=tabpanel] {display: none;}
amp-selector.tabpanels [role=tabpanel][selected] {outline: none;display: block;}
amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {outline: none;
border-top: 2px solid white;
}
amp-selector[role=tablist].tabs-with-selector [role=tab][selected]:hover {outline: none;
border-top: 2px solid white;
animation-name: menuhome_animation;
animation-duration: 2s;
animation-timing-function:ease;
}
.menuhome{
color:white;
}
.menuhome:hover{
animation-name: menuhome_animation;
animation-duration: 2s;
animation-timing-function:ease;
}
.image_menu{
border-radius: 100px;
border-style: solid;
border-width: 1px;
border-color:white;
}
.image_menu:hover{ 
animation-name: menuhome_animation;
animation-duration: 2s;
animation-timing-function:linear;
}
@keyframes menuhome_animation {
0%   {color:white;  border-color:white;  }
50%  {color:skyblue; border-color:skyblue; }
100% {color:white;border-color:white; }
}
body{
  padding-bottom: 50px;
}




/*🛑 end final estilos pagina de administracion 🛑 */

*{
box-sizing: border-box;
word-break: break-word;
}
.main{
margin: 0px 3vw 0px 3vw;
}
/* 🌐 TITULOS 🌐 */
.title{
font-family: 'Goblin One', cursive;
font-size: 32px;  
margin-top:10px;
margin-bottom:10px;
width: auto;
}
/* 🌐 PARRAFOS Y ENLACES 🌐 */
.text, .link {
transition-duration: 1s;
font-family: 'Libre Franklin', sans-serif;
font-weight: 400;
font-size:25px;
line-height: 40px;
color:black;
} 
.text::first-letter {
  font-size: 200%;
  font-weight: 500;
}
.textnopadding{
  margin: 3px 0px 3px 0px;
}
.link:hover{
  color: blue;
}
.textcenter{
  text-align: center;
}
.textright{
  text-align: right;
}

.linkblock{
  display: block;
}
.linkblock::first-letter {
  font-size: 150%;
  font-weight: 500;
}

/* 🌐  Botones 🌐*/ 
.button{
background: #ffffff00;
border: solid 1px black;
text-shadow: 0px 1px 0px black;
font-size:25px;
cursor: pointer;
padding: 7px 17px 7px 17px;
}
.button:hover{
color: skyblue;
}

.button2{
background: darkblue;
color: white;
border: solid 1px transparent;
box-shadow: grey -2px 2px 0px 0px;
font-size:25px;
padding: 10px 20px 10px 20px;
cursor: pointer;
}
.button2:hover{
background: limegreen;
border: solid 1px transparent;
}

.button3{
transition-duration: 1s;
background: aliceblue;
color: black;
border: solid 1px transparent;
box-shadow: rgb(185, 185, 185) -2px 2px 0px 0px;
font-size:25px;
font-weight: bold;
padding: 10px 20px 10px 20px;
cursor: pointer;
}
.button3:hover{
background: orange;
color: white;
border: solid 1px transparent;
}

.button4{
transition-duration: 1.5s;
border: none;
font-size:25px;
padding: 10px 20px 10px 20px;
cursor: pointer;
text-decoration: none;
background: darkblue;
color: white;
border-radius: 8px;
box-shadow: grey 2px 2px 0px 0px, inset blue -1px -1px 3px 0px;

}
.button4:hover{
background: limegreen;
box-shadow: grey 2px 2px 0px 0px, inset lightgreen -1px -1px 3px 0px;
}

.butonwidth{
  min-width: 80vw;
}

/* BOTON DE CUENTA */
.giantbutton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 2vw;
  margin: 2vw;
  box-shadow: skyblue 0px 0px 15px -5px;
  border-bottom: solid skyblue 2px;
  height: 100%;
  width: auto;
  transition-duration: 1s;
}
.giantbutton:hover{
  box-shadow: blue 0px 0px 15px -5px;
  border-bottom: solid blue 2px;
}
.icon{
  font-size: 35px;
  line-height: 35px;
  color:skyblue;
  transition-duration: 1s;
}
.icon:hover{
  color:blue;
}
.texticon{
  transition-duration: 0.2s;
}
.texticon:hover{
  font-weight: bold;
}

/* 🛑 Botones 🛑 */

/* 🌐 START NAV 🌐 */
.sample-sidebar {
width: 300px;
padding: 10px;
border-right:solid 20px black;
background: aliceblue;
padding-bottom: 60vh;
}
.nav{
display: flex;
flex-direction: column;
}
.nav > * {
  margin-bottom: 10px;
  border-bottom: solid 3px white;
}
.navigationDiv {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  padding-left: 5vw;
  justify-content: space-between;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(135,163,255,0.7572071064754027) 50%, rgba(0,19,255,0.2530054258031338) 100%);
  box-shadow: 0px 10px 22px #353535 inset;
}
button.navigationButton {
  border: none;
  background: transparent;
  cursor: pointer;
}
/* 🛑 END NAV 🛑 */

/* 🌐 START MEDIA MAXIMO ANCHO 1200 🌐 */
@media (max-width: 1200px) {
.title {
font-size: 3vw;  
}
.text, .link, .button {
font-size: 2.5vw;  
line-height: 35px;
} 

}/* 🛑 Endmedia 🛑 */
/* 🌐 START MEDIA MAXIMO ANCHO 600 🌐 */
@media (max-width: 600px) {
.title{
font-size: 4.5vw;  
}
.text, .link, .button  {
font-size: 4.5vw;  
line-height: 30px;
}   
}
/* 🛑 Endmedia 🛑 */

/* 🌐 Formulario 🌐 */
.success{color: blue;}
.warning{color:yellow;}
.error{color: red;}

.labelform{
  display: block;
}
.labelform::first-letter {
  font-size: 150%;
  font-weight: 500;
}
.camposform{
  transition-duration: 1s;
  border: none;
  outline: none;
  border-radius: 8px;
  border-left: solid black 1px;
  border-bottom: solid 3px black;
}
.camposform:focus{
  border-left: solid blue 1px;
  border-bottom: solid blue 3px ;
}

/* 🛑 Endform 🛑 */

/* 🌐 Secciones 🌐 */
/* 🌐 SEccion onesection 🌐 */
.onesection{
  display: flex;
  flex-direction: column;
  width: auto;
}

.onecenter{
  align-self: center;
}
.oneallcenter{
  justify-content: center;
  align-items: center;
  align-self: center;
}
.oneright{
  align-self: flex-end;
}
.onecenter{
  align-self: center;
}
.oneleft{
  align-self: flex-start;
}
/* 🌐 SEccion twosection 🌐 */
.twosection{
  display: flex;
  flex-direction: row;
}
.twosection > div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* 🌐 SEccion twosection 30 / 70🌐 */
.twosectionwrap{
  display: flex;
  flex-direction: row;
}
.twosectionwrapdiv > div{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.twosectionwrap1{width: 30%;}
.twosectionwrap2{width: 70%;}
@media (max-width: 600px) {
.twosectionwrap{
  display: flex;
  flex-direction: column;
}
.twosectionwrap > div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
}
/* 🛑 SEccion twosection 30 / 70🛑 */


.foursection{
  display: flex;
  flex-direction: row;
}
.foursection > div{
  display: flex;
  flex-direction: column;
  width: 25%;

}

.fivesection{
  display: flex;
  flex-direction: row;
}
.fivesection > *{
  display: flex;
  flex-direction: column;
  width: 20%;
}
/* 🛑 Endseccion 🛑 */
/* orden movil*/
@media (max-width: 600px) {
.primera{ order:0;  }
.segunda{ order:1;  }
}




/*🌐 Seccion de imagenes 🌐 */
amp-img.oneimage img {
  object-fit: contain;
}
.oneimagediv {
position: relative;
width: 100%;
height: 200px;
}

.galery200{
  display:flex; 
  flex-wrap: wrap;
}
.galery200 > div{
  width: 200px;
}

/* 🛑 Seccion de imagenes 🛑 */
/*🌐 Seccion de audio 🌐 */

.audio{
filter: invert(0%) sepia(40%) saturate(7710%) hue-rotate(172deg) brightness(103%) contrast(105%) drop-shadow(2px 4px 6px skyblue);
}

/* 🛑 Seccion de audio 🛑 */
/* 🌐 Bordes 🌐 */
.oneboxempty{
  padding: 2vw;
  margin: 2vw;
}
.oneboxnoborder{
  padding: 2vw;
  margin: 2vw;
  box-shadow: blue 0px 0px 10px -3px, inset blue 0px 0px 10px -3px;
}

.oneboxnoborderblue{
  padding: 2vw;
  margin: 2vw;
  box-shadow: skyblue 2px 2px 0px 3px;
}
.oneboxnoborderorange{
  padding: 2vw;
  margin: 2vw;
  box-shadow: orange 2px 2px 0px 3px;
}
.oneboxnobordergreen {
  padding: 2vw;
  margin: 2vw;
  box-shadow: limegreen  2px 2px 0px 3px;
}
.oneboxnoborderred {
  padding: 2vw;
  margin: 2vw;
  box-shadow: red  2px 2px 0px 3px;
}
.oneboxnoborderblack {
  padding: 2vw;
  margin: 2vw;
  box-shadow: black  2px 2px 0px 3px;
}




.onebox{
  padding: 2vw;
  margin: 2vw;
  border-left: solid 4px black;
  box-shadow: black 5px 4px 9px -5px;
}
.grayboxshadow{
  padding: 2vw;
  margin: 2vw;
  box-shadow: grey 10px 5px 0px 0px;
}
.blueboxshadow{
  padding: 2vw;
  margin: 2vw;
  box-shadow: grey -4px 0px 0px 1px
}
.bluebox{
  padding: 2vw;
  margin: 2vw;
  box-shadow: skyblue 5px 4px 9px -5px;
  border-left: solid 4px skyblue;
}
.redbox{
  padding: 2vw;
  margin: 2vw;
  box-shadow: red 5px 4px 9px -5px;
  border-left: solid 4px red;
}

.linkboxshadow{
  padding: 2vw;
  margin: 2vw;
  box-shadow: grey -2px 2px 0px 0px;
  cursor: pointer;
}
.linkboxshadow:hover{
  box-shadow: #3f51b5 -2px 2px 0px 0px;
}

.marginall > * {
  margin-bottom: 15px;
}
.marginone{
  margin-bottom: 3vh;
}
.marginonetop{
  margin-top: 3vh;
}
.noespacetext{
  padding: 0px;
  margin: 0px;
}
.espacetextbottom{
  padding: 0px;
  margin: 0px;
  margin-bottom: 2vh;
}

/* 🛑 Endbordes 🛑 */
/* 🌐 Backgrounds 🌐 */
.white90{
  background-color: rgba(255, 255, 255, 0.9);
}


/* 🛑 EndBackgrounds 🛑 */
/* 🌐 Separador de contenido 🌐 */
.linea{
  border: solid 1px black;
  background-color: black;
}
.lineacontent{
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 100%;
  border: solid 1px rgba(255, 255, 255, 0.801);
  background-color: rgba(255, 255, 255, 0.801);
}

/* 🛑 Separador de contenido 🛑 */

/*Scrollbar*/
/*Scroll bar fondo de barra*/
*::-webkit-scrollbar-track
{	background-color:aliceblue;}
*::-webkit-scrollbar{
width: 12px;
background-color: rgba(221, 68, 214, 0.4);
}
/*Boton que se mueve scroll*/
*::-webkit-scrollbar-thumb{
  min-height: 40px;
border-radius: 10px;
background-color: skyblue;
background-image: -webkit-linear-gradient(-30deg , transparent, blue 119%,transparent,transparent);       
}


/* Iconos de redes sociales */
amp-social-share.rounded {
  border-radius: 50%;
  background-size: 60%;
  color:  #fff;
 /* background-color: #005AF0; */
}




.headeracordeon{
  padding: 1vh 4vw 1vh 4vw;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: #fffea7 0px 0px 4px 2px;
  transition-duration: 1s;

}
.headeracordeon:hover{
  box-shadow: #fffea7 0px 0px 4px 5px;
}

.acordeonsection {
  padding: 2vh 4vw 2vh 4vw;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.904);
}
.acordeonlink{
  text-decoration: none;
}
/* ⚡⚡⚡⚡ End Acordeon ⚡⚡⚡⚡ */





/* ⚡ Modal ⚡ */
.modal {
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #ffffffc4;
}





/* Nuevo menu REact*/
.selectorTab{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
.selectorTab > div {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.selectorTab > div > button{
  height: 100%;
  width: 100%;
}